<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABB Project</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/homepage.css" />
</head>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h1>
                Registration<br/>
            </h1>
            <h4>
                ABB Project group 5<br/>
            </h4>
            <br><p>Please register an account to use the website first.</p>
            <p>Enter the teacher code to create a teacher account.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <form action="/register" method="post">
            <div class="login-form">
                <form>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="User Name" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label>Teacher Code</label>
                        <input type="text" class="form-control" name="teacherCode" placeholder="Teacher Code" />
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
                </form>
            </div>
            <a href="/">Go Back</a>
        </div>
    </div>
</body>
</html>
