<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sensors.css">
    <title>User statistics</title>
</head>
<body>
    <header>
      <nav class="navbar">
          <a href="/dashboard" class="nav-branding" >Ventilation Project - Group 5</a>

          <ul class="nav-menu">

              <li class="nav-item">
                  <a href="/dashboard" class="nav-link">Home</a>
              </li>

              <li class="nav-item">
                  <a href="/stats" class="nav-link">Sensors</a>
              </li>

              <li class="nav-item">
                  <a href="/userstats" class="nav-link">Users stats</a>
              </li>

              <li class="nav-item">
                  <a href="/logout" class="nav-link">Log out</a>
              </li>

          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>

          </div>
      </nav>
    </header>


    <div>
        TEACHER PAGE
    </div> 
</body>
</html>