@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    
}

#svg {
    width:420px;
    height:420px;
}

.rotate-image::before{
    text-align: center;
    transform: rotate(180deg);
}
  

body {
    background-color: #f1f2f3;
}

header {
    background-color: rgb(59, 67, 104);
}

li {
    list-style: none;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
}

.nav-branding{
    font-size:2rem;
}

.nav-link{
    font-size:1.2rem;
    transition: 0.5s ease;
}

.nav-link:hover{
    color:#bad2ff;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:900px){
    .hamburger{
        display:block;
    }

    .hamburger.active .bar:nth-child(2){
        content: "";
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1)::after{
        content: "";
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3)::before{
        content: "";
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: relative;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(59, 67, 104);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin:16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}